node_modules
docs/build
database/conf
.env
redash/
resview/.Renviron
evides/.Renviron
shiny_logs/
ssl/
redis-data/
connect/*.json
scripts/.ipynb_checkpoints/
.ipynb_checkpoints/
database/scripts/
